html {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color:black;
    justify-content:flex-end;
    align-items:center;
}
nav div {
    background-color:green;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color:white;
}
.elemento:hover {
    background-color:blue;
}
nav a {
    text-decoration:none;
}
.logo {
    background:transparent;
    flex-grow:1;
}
.logo img {
    height:50px;
}
body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0px;
}
.cuerpo {
    display:flex;
    justify-content:space-evenly;
    flex-grow:1;
}
.cuerpo div {
    margin-left:15px;
    margin-right:15px;
}
.footer {
    background-color:black;
    text-align:center;
    color:white;
    padding:15px;
}
@media (max-width:700px) {
    .cuerpo {
        flex-direction:column;
    }
}
.claro body {
    background-color:white;
}
.oscuro body {
    background-color:#222222;
    color:white;
}
.selector {
    margin:10px;
    text-align:right;
    cursor:pointer;
    
}
.oscuro .ligaoscuro {
    text-decoration:underline;
}
.claro .ligaclaro {
    text-decoration:underline;
}